# .NET
bin/
obj/
*.user
*.suo
*.cache
*.bat
.vs/
log/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
eas.json

# React Web
dist/
build/

# Database
*.mdf
*.ldf
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.cursor
concepts
guides
explainations
/.claude/settings.local.json
/Steps
plans/
resources/
.claude/
design/
CLAUDE.md
todo.md
Prompts/
Notes.md